{% extends "layout.html" %}
{% block title %}Case{% endblock %}

{% block content %}
    <form id="super" action="" method="post">
		<div class="container-fluid" style="background-color: white; position: relative; height: 100%; padding: 5px; padding-top: 0;">
			<div class="row-fluid" style="background-color: white; position: relative; height: 100%">
                <div class="span10 row" >
                    <div class="well container span12" style="background-color: white; padding-top: 0;">
                        <div>
                            <h4 class="span4">{{case.code}}</h4>
                            <h4 class="span4" style="text-align: center">Case Information</h4>
                            <h4 class="span4" style="text-align: right">{{case.date.strftime('%B %d, %Y %I:%M %p')}}</h4>
                        </div>
                        
                        <table class="table table-condensed table-bordered" style="width: 100%;">
                            <tr><th class="span4">Region<th class="span2">Province<th class="span2">Municipality<th class="span4">GPS
                            <tr><td>{{case.region}}<td>{{case.province}}<td>{{case.municipality}}<td><span id="location"></span> ({{case.lat}}, {{case.lng}})
                        </table>
                        
                        <table class="table table-condensed table-bordered" style="width: 100%">
                            <tr><th class="span2">Microscopist<td class="span4">{% if not user.is_doctor() or not hide_microscopist %}{{case.user.firstname}} {{case.user.lastname}} ({{case.user.username}}){% else %} [HIDDEN] {% endif %}<th class="span2">Contact Details<td class="span4">{% if not user.is_doctor() or not hide_microscopist %}{{case.user.contact}} / {{case.user.email}}{% else %} [HIDDEN] {% endif %}
                            <!--<tr><th>Diagnosis<td colspan="3">{{case.partype}} -->
                            <tr><th>Remarks<td colspan="3">{{case.description}}
                        </table>


                        <div class="container-fluid" style="background-color: ; padding: 0">
                            <h4 style="padding-left: 0.5%">Preliminary Diagnosis</h4>
                            <table class="table table-condensed table-bordered" style="width: 100%">
                               <!--  <tr><th class="span2">Lorem<td class="span4">{{case.validator}}<th class="span2">Ipsum<td class="span4">{{case.validator_contacts}} -->
                                <tr><th class="span2">Diagnosis   <td class="span10">{{MLDiagnosis}}
                                <tr><th>Number of Detections      <td class="span10">{{MLDetections}}
                                <tr><th>Score                     <td class="span10">{{MLScore}}
                                <tr><th>Species Detected          <td class="span10">{{MLSpecies}}
                            </table>
                        </div>

                        <div class="container-fluid" style="background-color: ; padding: 0">
                            <h4 style="padding-left: 0.5%">Validation</h4>
                            <table class="table table-condensed table-bordered" style="width: 100%">
                                <tr><th class="span2">Validator<td class="span4">{{case.validator}}<th class="span2">Contact Details<td class="span4">{{case.validator_contacts}}
                                <tr><th>Diagnosis                 <td colspan="3">{{case.parasite_validator}}
                                <tr><th>Remarks                   <td colspan="3">{{case.description_validator}}
                                {% if user.is_doctor() %}<tr><td colspan="4" style="text-align: left"><a href="#">View validation history...</a>{% endif %}
                            </table>
                        </div>
                        
                        <table class="table table-condensed table-bordered" style="width: 100%">
                            <tr><th class="span2">Sending duration<td class="span10">{{case.duration}} 
                        </table>
                        <table style="width: 100%">
                            <tr>
                            <td><input class="btn btn-medium pull-left" name="choice" type="submit" value="Download as PDF" style="height: 30px">
                            <!--<td align="center">{% if not user.is_microscopist() %}<a style="text-align: center" class="btn btn-medium" href="/map/?lat={{case.lat}}&lng={{case.lng}}&zoom=13&date_start=1/1/1970&date_end=Today">View on Map</a>{% endif %} -->
                            <td><a class="btn btn-medium pull-right" name="choice" onclick=openSelectedImages();>View Image(s)</a>
                        </table>
                    </div>
                    <br><br><br>
					{% if user.is_doctor() %}
                    <div class="well container span12" style="background-color: white; padding-top: 10px; margin-left: 0">
                        <h4>Validator Form: </h4>
                        <input type="text" id="validator_diagnosis" name="validator_diagnosis" placeholder="Enter your diagnosis here">
                        <!--<input type="text" id="validator_diagnosis" name="validator_diagnosis" value="{{case.parasite_validator}}" placeholder="Enter your diagnosis here">-->
                        <br />
                        <textarea style="resize:none; width: 500px; height: 150px;" id="validator_remarks" name="validator_remarks"  placeholder="Enter your remarks here"></textarea>
                        <!--<textarea style="resize:none; width: 500px; height: 150px;" id="validator_remarks" name="validator_remarks">{{case.description_validator}}</textarea>-->
                        <br />
                        <input class="btn btn-medium" name="choice" type="submit" value="Submit" style="height: 30px">
                        
                    </div>

                    {% endif %}
                </div>
				<div class="span2 well" style="overflow-y: auto; overflow-x:hidden; position: relative; height: 100%; padding: 5px; padding-top: 0;">
                    <!--
                    <ul class="nav nav-tabs" id="image_tabs">
                        <li class="active"><a href="#raw_images" data-toggle="tab">Raw Images</a></li>
                    </ul>
                    -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="raw_images">
                            <table class="table-condensed" style="width: 100%; vertical-align: bottom; padding: 0; margin: 0">
                            <tr>
                            <td><h5 class="pull-right">Select all</h5> 
                            <td style="width: 2%; padding: 0%"><input id="selectAll" class=" pull-right" type="checkbox" onclick="toggleAll()" style="margin-bottom: 5px">
                            
                            </table>
                            <div class="row-fluid" id="gallery" style="padding: 0; max-height: 80vh; overflow-y: scroll;">
                                <ul class="thumbnails">
                                 {% for j, i in images %}
                                <li class="span12" style="margin: 0; margin-left: 0; margin-right: 1.2%; margin-bottom: 1.2%">
                                    <div class="container span12">
										<input class="pull-left" type="checkbox" name="checkbox_{{loop.index0}}" id="chkbox_{{loop.index0}}" onchange="toggleSelectAll({{loop.index0}})">
										<p>&nbsp;Image #{{j}}</p>
										<!-- <a href="/{{i}}" id="link_{{loop.index0}}" target="_blank" class="thumbnail" > -->
                                      <!-- hardcoded value for malaria infection -->
                                      {% if case.infection_id == 1 %} 
                                        <img src="/MLpic/{{i[4:]}}" alt="" id="case_img_/{{i}}" onclick="img_click(this.id, 'MLpic/{{i[4:]}}')">
                                      {% else %}
                                          <a href="/{{i}}" id="link_{{loop.index0}}" target="_blank" class="thumbnail" >
                                            <img src="/thumb/{{i}}" alt="">
                                          </a>
                                      {% endif %}
                                      <!-- </a> -->
                                    </div>
                                     {% if loop.index0 == (loop.length-1) %}
                                          <script>
                                                window.currentGalleryLength = {{ loop.length }}
                                                function checkGalleryImage(increment) {
                                                    var i = (window.currentImageIndex+increment+window.currentGalleryLength)%window.currentGalleryLength;
                                                    checkGalleryImage.chkbox_print.checked = document.getElementById("chkbox_"+i).checked;
                                                    window.currentImageIndex = i;
                                                }
                                                checkGalleryImage.chkbox_print = document.getElementById("currentlyViewed_chkbox_printing");
                                          </script>
                                     {% endif %}
                                 {% endfor %}
                                 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
    </form>
    <div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
        <h3 id="helpModalLabel">View Case</h3>
        </div>
        <div class="modal-body">
        <p>This page shows the details of a specific case. <br><br> The "View on Map" button brings you to the map and zooms in on the location of this case. <br><br>The "Print" button prints the details of this case along with the selected images.</p>
        </div>
    </div>
        <script>
             function toggleAll()
             {
                for (var i=0; i<window.currentGalleryLength; i++)
                {
                    document.getElementById("chkbox_"+i).checked = document.getElementById("selectAll").checked;
                }
             }
             function toggleSelectAll(x)
             {
                if(document.getElementById("chkbox_"+x).checked == false)
                {
                    document.getElementById("selectAll").checked = false;
                }
             }
             function openSelectedImages()
             {
                for (var i=0; i<window.currentGalleryLength; i++)
                {
                    if(document.getElementById("chkbox_"+i).checked){
                        window.open(document.getElementById("link_"+i).href, '_blank');
                    }
                    window.focus();
                }
             }
        </script>
		<script src="/static/js/jquery.js"></script>
         <script>
            var url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng={{case.lat}},{{case.lng}}&sensor=false'
            $.getJSON(url, function(data){
                if (data['status'] == "OK"){
                    document.getElementById('location').innerHTML = data['results'][0]['formatted_address'];
                }
            });
        </script>
		<script src="/static/js/bootstrap.min.js"></script>
        <script>
            function var_dump(x) {
                var s = "";
                for (var i in x) {
                    s += i+" = "+x[i]+"\n";
                 }
                 alert(s);
            }
        </script>
        <script>
    </script>


<div id="myModal" class="modal ">
    <span class="close" id="modal_close">&times;</span>
    <!-- <img class="modal-content" id="img01">
    <div id="caption" style="background-color: white; width:100px; "></div> -->
    <center>
        <table style="width: 80%">
            <tr>
                <td style="background-color: black; width: 75%">
                    <a href="#" target="_blank" class="thumbnail">
                      <img class="modal-content" id="img01" style="">
                      <!-- <img src="/thumb/{{i}}" alt=""> -->
                    </a>

                    <div id="myresult" class="img-zoom-result"></div>
                </td>
                <td style="background-color: white; width: 25%; padding: 20px">
                    <h3>Preliminary Diagnosis</h3>
                    <p>Number of Parasites Detected: </p>
                    <p>Malaria Species: </p>
                    <p>Diagnosis: </p>
                    <p>Accuracy Score: </p>
                    <p>Remarks: </p>
                </td>
            </tr>
        </table>
    </center>
</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var modalImg = document.getElementById("img01");
// var modalImg;
var captionText = document.getElementById("caption");
var span = document.getElementById("modal_close")

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}

function img_click(clicked_id, j)
{
    modal.style.display = "block";
    modalImg.src = document.getElementById(clicked_id).getAttribute("src");

    modalImg.parentElement.href ="/"+j;
    // captionText.innerHTML = this.alt;
}


</script>

<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    margin-left: 0;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/*.float-my-children > * {
    float:left;
    margin-right:5px;
}

 this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup 

.clearfix {
    *zoom:1 /* for IE */
}

./*clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}*/
*/
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }

* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
}
</style>
{% endblock %}
